/* Folha de estilo principal */


/****************** IMPORTANDO FONTE *******************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/***************** PRINCIPAL ******************/
body{
	font-family: 'Open Sans', sans-serif;
	background-image: url("../imagens/counter.jpg");
	
	background-attachment: fixed;  /* FIXA O BACKGROUND */
	background-size: cover;		/* MANTER O TAMANHO DA IMAGEM DE FORMA RESPONSIVA */
	/*background-color: #8e8e8e;*/
	/*font-size: 1em; /* 1 em = 16px */
}
/********* Código letras no banner ****************/
#banner{
	margin-top: 4px;
	max-width: 1024px;
	height: 563px;
	/* Usado para flexibilizar o layout */
	display: flex;
	justify-content: center; /* Só funciona com display flex */
	align-items: center; /* Só funciona com display flex */
}

#banner img{
	filter: brightness(40%);
	width: 100%;
}

#banner h1{
	position: absolute;
	color: #ffffff;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.7em;
} /******* FIM DO CÓDIGO LETRAS NO BANNER ************/

#heading h2{
	text-align: center;
	padding: 25px;
	color: #000000;
}

#main{
	max-width: 1024px;
	background-color: #ffffff;
	margin: 0 auto; /* CENTRALIZAR A DIV */
}

#contato{
	padding-top: 100px;
	width: 70%;
	margin: 0 auto;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	border:3px solid #000000;
}

#contato textarea{
	width: 100%;
	padding: 20px 10px 20px 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	border:3px solid #000000;
	resize: none;
}

#contato input[type=submit]{
	background-color: #000000;
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 10px 25px 10px 25px;
	color: #ffff;
}

header{
margin-bottom: 0px;
text-align: center;
}

header img{
margin-top: 0px;
margin-left: 0px;
max-width: 15%
}

footer{
background-color: rgb(0,0,0);
color: #ffff;
padding: 5px;
margin-top: 100px;
text-align: center;
}

#destaque{
max-width: 1024px;
text-align: center;
height: 320px;
}
.blocos{
width: 30.76%; /*-- (315/1024)*100 --*/
height: 320px;
float: left; 
margin-left: 1.75%;
border: 1px solid #dedede;
text-align: center;
position: relative; /* posicionamento do botão */
}

.blocos p{
	padding: 0px 10px 0px 10px;
	text-align: left;
	font-size: 0.85em;
}

.blocos a{
		width: 80px;
		padding: 10px 0px 10px 0px ;
		display: block;
		background-color: #1e73be;
		color: #ffffff;
		text-decoration: none;
		font-size: 0.875em;
		position: absolute;
		right: 10px;
		bottom: 10px;
}


/************* TRATAMENTO RESPONSIVO ****************/

img {
	max-width: 100%; /* TODAS AS IMAGENS DO SITE FICAM RESPONSIVAS */
}

nav{
	width: 100%;
	max-width: 1024px;	
	position: absolute;
	z-index: 100;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	
	

}

nav > ul > li{
	float: left;
	width: 24.903%; /* 4 elementos do menu primário */
}

nav > ul > li > a{
	font-size: 1.125em;
}

nav ul li a{
	text-decoration: none;
	color: #ffffff;
	padding: 15px;
	display: block;
	text-align: center; 
	background-color: rgba(0,0,0,.8);
}

nav ul li a:hover{
	background-color: #d0dcef;
	transition: all 0.27s; /* efeito transição (0 a 1) */
}

nav li ul{
	display: none;
}

nav li:hover ul{
	display: block;
}

.Detalhes:after{
	content: '';
	color: #ff0000;
	border: 5px solid transparent;
	border-top-color: #e8e8e8;
	display: inline-block;
	vertical-align: middle;
}

.Mobile{
	display: none;
}

/****** CLASSE USADA PELO JAVASCRIPT PARA FIXAR O MENU *******/
.Fixar{
	position: fixed;
	top: 0;
	
}

.baixar img{
	width: 100px;
	height: 100px;
	margin-left: 50px;
}

#Slide{
	text-align: center;
}

/**** Página Sobre ******/
.sobre{
	text-align: center;
}
.sobre p{
	padding: 0px 30px 30px 30px;
}
.sobre a{
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	margin: 1px;
	margin-left: 700px;
	margin-top: 500px;

}
.sobre a:hover{
	background-color: #d0dcef;
	color: #000000;
	transition: 1s;
}

.slide {
	padding: 50px 0px 0px 0px;
	text-align: center;
}
.slide h3{
	margin-top: 100px;
}

#apresentacao{
	border:1px solid #CCC;
	 border-width:1px;
	  margin-bottom:5px;
	   max-width: 80%;" /* TORNANDO RESPONSIVO O SLIDE DE POWERPOINT */
}

#video{
	max-width: 80%; /* TORNANDO RESPONSIVO VÍDEO DO YOUTUBE NA PÁGINA  */
	margin-top: 20px;
}

.baixar{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	color:red;
}
.baixar a img{
	border-radius: 100px;
}
.baixar a img:hover{
	border-radius: 0;
	transition: 1s;
}

.diferenca{
	text-align: center;
	padding: 0px 10px 0px 10px;
}

.diferenca img{
	margin-top: 60px;
}

.novojogo{
	margin-top: 4px;
	max-width: 1024px;
	height: 563px;
	/* Usado para flexibilizar o layout */
	display: flex;
	justify-content: center; /* Só funciona com display flex */
	align-items: center; /* Só funciona com display flex */
}

.novojogo img{
	filter:brightness(40%);
	max-width: 100%;
}

.novojogo h1{
	position: absolute;
	color: #ffffff;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	max-width: 1010px;
	padding: 10px 0px 10px 0px;

}

.butao{
	text-align: center;
	margin-top: 50px;
}

.butao a{
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	margin: 1px;
}

.butao a:hover{
	background-color: #d0dcef;
	color: #000000;
	transition: 1s;
}

.requisitos{
	text-align: center;
	margin-top: 100px;
}

.requisitos p{
	padding: 0px 10px 0px 10px;
	text-align: center;
}
.requisitos span{
	font-weight: bold;
}

/***********Primeiro ponto de quebra *********/
	
@media screen and (max-width: 1058px){
	body{
		margin: 0px;
		max-width: 100%;
	}

	#main{
		margin: 0px;
	}

	.sobre a{
		transition: 0s;
		font-size: 0.758em;
		border:0;
		margin: 0;
		position: relative;		
	}
	.baixar a img{
		border-radius: 0;
	}
	.baixar a img:hover{
	transition: none;
	}
}

@media screen and (max-width: 990px){
	#banner{
		margin-top: -10px;
	}
}

@media screen and (max-width: 900px){
	#banner{
		margin-top: -32px;
	}
}

/******** Segundo ponto de quebra ***********/
@media screen and (max-width: 810px){
	#banner{
		margin-top: -60px;
		margin-bottom: 0px;
	}
	#header{
		margin-bottom: 0;
	}
	#heading h2{
		margin-top: 0;
		padding:0;
	}
	.blocos{
		margin-bottom: 0px;
	}
	
}

/********* Terceiro ponto de quebra ************/

@media screen and (max-width: 768px){
	#banner{
		margin-top: -70px;
	}
	#heading h2{
		margin-top: -30px;
	}
	footer{
		margin-top: 40px;
	}
}

/********* Quarto ponto de quebra ***********/
@media screen and (max-width: 700px){
	#banner{
		margin-top: -90px;
	}
	#heading h2{
		margin-top: -40px;
	}
}

/***********  Quinto ponto de quebra ************/
@media screen and (max-width: 610px){
	#banner h1{
		font-size: 30px;
	}
	#banner{
		margin-top: -115px;
	}
	#heading h2{
		margin-top: -80px;
	}
	footer{
		margin-top: 20px;
	}
}

/************ Sexto ponto de quebra *****************/
@media screen and (max-width: 660px){
	#banner{
		margin-top: -100px;
	}
	#banner h1{
		font-size: 25px;
	}
	#heading h2{
		margin-top: -85px;
	}
}
@media screen and (max-width: 600px){
	#banner{
		margin-top: -120px;
	}
}
@media screen and (max-width: 530px){
	#banner{
		margin-top: -140px;
	}
}

@media screen and (max-width: 510px){
	nav ul li{
		font-size: 15px;
	}
	#heading h2{
		margin-top: -120px;
	}

}
@media screen and (max-width: 490px){
	#banner{
		margin-top: -150px;
	}
	nav ul li{
		font-size: 10px;
	}
}





/************* SmartPhone **************/
@media screen and (max-width: 480px){

	.novojogo h1{
		font-size: 0.80rem;
		padding: 0px;
		margin: 0;
	}

	.butao a{
		transition: none;
		margin-top: 0;
	}

	#banner{ 
		position: relative;
		margin-top: -160px;
	
	}

	#banner h1{
		text-align: center;
		font-size: 1.0em;
	}

	#heading h2{
		font-size: 1em;
	}

	/*********** MENU ***************/
	.Mobile{
	display: block;
	background-color: rgba(0,0,0,.6);
	color: #ffffff;
	text-decoration: none;
	padding: 15px;
	}
	nav>ul>li{
		float: none;
	}
	nav ul{
		width: 100%;
		display: none;		
	}

	nav ul li a{
		font-size: 0.875em;
		padding: 12px;
		text-align: center;
	}

	nav ul li a:hover{
		transition: all 0s; /* Remover efeito de transição */
	}

	nav li ul li{
		background-color: rgba(64,57,232,.8);
	}

	#destaque{
		max-width: 315px;
		height: auto;
		margin: 0 auto;
	}

	.blocos{
		width: 100%;
		height: 320px;
		float: none;
		margin: 0;
		margin-bottom: 20px;
	}
}
