body{
	font-family: sans-serif;
	margin: 0;
}

#tituloPagina{

	margin-top: 100px;
	color: blue;
}

#imagens{
	text-align: center;
}
#imagens img{
	margin: 10px;
	margin-bottom: 50px;
	border-radius: 10px;
}

#texto{
	text-align: center;
	position: relative;
	padding: 10px 80px 10px 80px;
}
#texto h2{
	position: relative;
	margin-top: 50px;
}

#texto2{
	padding: 10px 80px 10px 80px;
	position: relative;
}